.slider {
    width: 90%;
    margin: 5% 5%;
    /* margin: auto; */
    height: auto;
    background: #fff3f3;
    border-radius: 10px;
    transition: 0.5s;
    overflow-x: auto; /* Allows horizontal scroll */
    white-space: nowrap; /* Prevents wrapping of the images */
    padding-bottom: 30px; 
}

.slider:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    margin: 20px 20px;
}

.images {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

#certimg {
    width: 50%;
    height: auto;
}

.certimages {
    display: inline-block; /* Ensures images are in a single line */
    gap: 30px;
}

#img {
    width: 40%; /* Adjust as needed */
    height: auto;
    padding: 20px;
    display: inline-block; /* Keep images in a row */
    margin-right: 30px; /* Adds space between images */
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    .slider {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    #img {
        width: 80%;
        padding: 10px;
        margin-right: 10px; /* Reduce space between images */
    }

    .certimages {
        padding-bottom: 10px;
    }
}

/* Small devices like smartphones */
@media (max-width: 480px) {
    #img {
        width: 90%; /* Images take up more width on small screens */
        padding: 5px;
        margin-right: 5px;
    }
    
    h1 {
        font-size: 1.5rem; /* Adjust title size for small screens */
    }
}
